.popup__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 36px;
  align-self: center;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .popup__submit-btn {
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
  }
}

.popup__submit-btn:hover {
  opacity: 0.8;
}
