.profile__info {
  margin: 0;
  padding: 0;
  max-height: 120px;
  display: flex;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 780px) {
  .profile__info {
    max-height: 290px;
    flex-direction: column;
    align-items: center;
  }
}
