.profile__avatar-button::after {
  display: flex;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  border-radius: 50%;
  background-image: url("../../../images/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: 26px 26px;
  z-index: 3;
  opacity: 0;
}

.profile__avatar-button:hover::after {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .profile__avatar-button::after {
    margin: 0 auto;
  }
}
